.container {
  padding: 10px;
  width: 50%;
  max-width: 500px;
  margin: 100px auto;
  border: 1px #a0a0a0 solid;
}
.container h1 {
  text-align: center;
}
.content {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.content label {
  margin-right: 10px;
}
.content .btn {
  border: none;
  background-color: deepskyblue;
  padding: 5px;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.content .btn:disabled,
.content .btn[disabled] {
  background-color: #a0a0a0;
  pointer-events: none;
}
.error {
  margin-left: 10px;
  color: #f00;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 20px auto;
  text-align: center;
  padding: 10px;
}

.description {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
img {
  width: 100px;
}
.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 10px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  margin: 10px 0;
}

.card button:hover {
  opacity: 0.7;
}

.rate {
  display: flex;
  justify-content: center;
  color: grey;
  font-size: 16px;
}

.selected {
  background-color: deepskyblue !important;
}
.productList {
  display: flex;
  flex-direction: column;
}
.productList .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.productList ul {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.productList li {
  list-style: none;
}
.filter {
  font-size: 16px;
}
